# Project - Segmenting and Clustering Neighborhoods in Toronto, Canada #
## **Solving the Problem 1** ##
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.  
To create the above dataframe:  
+ The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
+ Only process the cells that have an assigned borough. Ignore cells with a borough that is **Not assigned**.
+ More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: **Harbourfront** and **Regent Park**. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in **row 11**  in the above table.
+ If a cell has a borough but a **Not assigned**  neighborhood, then the neighborhood will be the same as the borough.
+ Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
+ In the last cell of your notebook, use the **.shape** method to print the number of rows of your dataframe.  
**Note.** I use pandas, the BeautifulSoup package, as a convenient way for me to convert the data in the table on the Wikipedia page to the aforementioned pandas data frame.

In [1]:
import pandas as pd
# !pip install requests
import requests
# !pip install beautifulsoup4
from bs4 import BeautifulSoup as bs

In [2]:
#Scrape the List of postal codes of Canada
page_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(page_url).text

In [3]:
soup = bs(source, 'html.parser')

In [4]:
#Get the first table in the html
data = soup.findAll('table')

In [5]:
def cleaner(seq, value):    
    temp = []                      
    for number in seq:
        if number not in value:
            temp.append(number)
    return temp

In [6]:
# create three lists to store the data into the table
list_postal_code = []
list_borough = []
list_neighborhood = []
# loading data into created lists
data = soup.find('table').find_all('tr')
for row in data:
    cells = row.find_all('td')
    if(len(cells) > 0):
            for cell in cells:
                lst = cleaner(cell.get_text(separator="<br />").strip().split("<br />"),
                              ['','\n','(',')',' / ',', '])
                txt = ''
                for n, value in enumerate(lst):
                    if n == 0 : list_postal_code.append(value)
                    elif n == 1 :list_borough.append(value)
                    else:
                        if len(txt) != 0 : txt += ', ' + value
                        else: txt = value
                if len(txt) == 0 : txt = 'Not assigned' 
                else: txt = txt.replace('(','').replace(')','').replace(' / ',', ').replace('  ',' ').replace(' ,',',').replace(',,','')
                list_neighborhood.append(txt)

In [7]:
# we check the size of the arrays, they must be equal
print(len(list_postal_code))
print(len(list_borough))
print(len(list_neighborhood))

180
180
180

In [8]:
# create a new DataFrame from the three lists
df = pd.DataFrame({"PostalCode": list_postal_code,
                      "Borough": list_borough,
                 "Neighborhood": list_neighborhood})

In [9]:
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [10]:
df = df[df["Borough"] != "Not assigned"]

In [11]:
df.head()

  PostalCode           Borough                      Neighborhood
2        M3A        North York                         Parkwoods
3        M4A        North York                  Victoria Village
4        M5A  Downtown Toronto         Regent Park, Harbourfront
5        M6A        North York  Lawrence Manor, Lawrence Heights
6        M7A      Queen's Park     Ontario Provincial Government

In [12]:
df_group = df.groupby("PostalCode")["Neighborhood"].apply(lambda x: "%s" % ', '.join(x))
df_group = df_group.reset_index(drop = False)
df_group.rename(columns = {"Neighborhood":"Neighborhood_joined"},inplace=True)

In [13]:
df_merge = pd.merge(df, df_group, on="PostalCode")
df_merge.drop(["Neighborhood"],axis=1,inplace=True)
df_merge.rename(columns={'Neighbourhood_joined':'Neighbourhood'},inplace=True)

In [14]:
df_merge.head()

  PostalCode           Borough               Neighborhood_joined
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [15]:
df_merge.drop_duplicates(inplace=True)

In [16]:
df_merge.head()

  PostalCode           Borough               Neighborhood_joined
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [17]:
df_merge.shape

(103, 3)

##### **Thank you !**
This notebook was created by *Dmitry Rabotko.*  
This notebook is part 1 of a course on **Coursera** called _Applied Data Science Capstone_ week 3.